<?xml version="1.0"?>
<mujoco xmlns:xacro="http://ros.org/wiki/xacro" model="pmb2 Scene">

  <xacro:include filename="$(find pmb2_mujoco)/assets/xacro/pmb2.mujoco.xacro" />
  <xacro:include filename="$(find pmb2_mujoco)/assets/xacro/assets.mujoco.xacro" />
  <xacro:include filename="$(find pmb2_mujoco)/assets/xacro/contacts.mujoco.xacro" />
  <xacro:include filename="$(find pmb2_mujoco)/assets/xacro/sensors.mujoco.xacro" />

  <xacro:pmb2_assets />

  <statistic center="0 0 0.3" extent="1.2"/>

  <visual>
    <headlight diffuse="0.6 0.6 0.6" ambient="0.3 0.3 0.3" specular="0 0 0"/>
    <rgba haze="0.15 0.25 0.35 1"/>
    <global azimuth="120" elevation="-20"/>
  </visual>

  <asset>
    <texture type="skybox" builtin="gradient" rgb1="0.3 0.5 0.7" rgb2="0 0 0" width="512" height="3072"/>
    <texture type="2d" name="groundplane" builtin="checker" mark="edge" rgb1="0.2 0.3 0.4" rgb2="0.1 0.2 0.3" markrgb="0.8 0.8 0.8" width="300" height="300"/>
    <material name="groundplane" texture="groundplane" texuniform="true" texrepeat="5 5" reflectance="0.2"/>

    <texture name="grid" type="2d" builtin="checker" width="512" height="512" rgb1=".1 .2 .3" rgb2=".2 .3 .4"/>
    <material name="grid" texture="grid" texrepeat="1 1" texuniform="true" reflectance=".2"/>
  </asset>

  <worldbody>
    <light pos="0 0 1.5" dir="0 0 -1" directional="true"/>
    <geom name="floor" size="0 0 0.05" type="plane" material="groundplane"/>

    <geom name="low_friction0" type="box" pos="0 0 0.1" size="400 400 .01" material="grid" condim="3"/>
  </worldbody>

  <worldbody>
    <xacro:pmb2_robot name="pmb2" pos="0 0 0.21" quat="1 0 0 0" >
      <body />
    </xacro:pmb2_robot>
  </worldbody>

  <xacro:pmb2_contacts name="pmb2" />
  <xacro:pmb2_sensors name="pmb2" />

  <contact>
    <pair geom1="wheel_left" geom2="low_friction0" friction="0.1 0.1 0.005 0.0001 0.0001"/>
    <pair geom1="wheel_right" geom2="low_friction0" friction="0.1 0.1 0.005 0.0001 0.0001"/>
  </contact>

</mujoco>
