<?xml version="1.0"?>
<mujoco xmlns:xacro="http://ros.org/wiki/xacro">
  
  <xacro:include filename="$(find pmb2_mujoco)/assets/xacro/wheel.mujoco.xacro"/>
  <xacro:include filename="$(find pmb2_mujoco)/assets/xacro/caster.mujoco.xacro"/>

  <!-- <xacro:include filename="$(find pmb2_description)/mujoco/sensors/imu.mujoco.xacro"/> -->

  <xacro:include filename="$(find pmb2_mujoco)/assets/xacro/antenna.mujoco.xacro"/>

  <!-- Wheel characteristics -->
  <xacro:property name="wheel_radius"     value="0.0985"/>
  <xacro:property name="wheel_width"      value="0.020"/>
  <xacro:property name="wheel_separation" value="0.4044"/>
  <xacro:property name="wheel_torque"     value="6.0"/>
  <xacro:property name="wheel_velocity"   value="1.0"/>

  <!-- Caster wheel characteristics -->
  <xacro:property name="caster_radius"       value="0.025"/>
  <xacro:property name="caster_width"        value="0.015"/>
  <xacro:property name="caster_separation_x" value="0.343"/>
  <xacro:property name="caster_separation_y" value="0.204"/>
  <xacro:property name="caster_offset_x"     value="-0.002"/>
  <xacro:property name="caster_offset_y"     value="0.0"/>
  <xacro:property name="caster_offset_z"     value="-0.0335"/>

  <xacro:macro name="base" params="name pos rot *attached_body">
      <light name="spotlight" mode="targetbodycom" target="${name}_link" pos="0 -1 2" cutoff="30"/>
      <body name="${name}_link" pos="${pos}" euler="${rot}" >
          <freejoint/>
          <inertial mass="28" pos="0 0 0.0515" fullinertia="0.465408937 0.483193291 0.550939703 0.002160024 -0.001760255 -0.000655952"/>

          <xacro:insert_block name="attached_body" />

          <body name="base_footprint" pos="0 0 ${wheel_radius}" />

          <site name="${name}_imu_site"/>

          <geom pos="0 0 0.0985" type="mesh" rgba="1 1 1 1"     mesh="base"/>

          <geom pos="-0.183 0.183 0.173"  quat=" 0.382683 0 0 0.92388" type="mesh" rgba="0.1 0.1 0.1 1" mesh="srf05"/>
          <geom pos="-0.183 -0.183 0.173" quat="-0.382683 0 0 0.92388" type="mesh" rgba="0.1 0.1 0.1 1" mesh="srf05"/>
          <geom pos="-0.259 0 0.173"      quat="0 0 0 1"               type="mesh" rgba="0.1 0.1 0.1 1" mesh="srf05"/>
          <geom pos=" 0.202 0 -0.004"                                  type="mesh" rgba="0.1 0.1 0.1 1" mesh="sick_tim551"/>
          
          <geom pos="0 0 0.0315" type="mesh" rgba="1 0.487 0 1" mesh="base_ring"/>
          <xacro:antenna name="${name}_antenna_left"  xyz="-0.201  0.1062 0.195" rpy="0 0 0" />
          <xacro:antenna name="${name}_antenna_right" xyz="-0.201 -0.1062 0.195" rpy="0 0 0" />

          <!-- Wheels -->
          <xacro:wheel side="right" reflect=" 1.0" radius="${wheel_radius}" width="${wheel_width}" torque="${wheel_torque}" velocity="${wheel_velocity}" separation="${wheel_separation}" />
          <xacro:wheel side="left"  reflect="-1.0" radius="${wheel_radius}" width="${wheel_width}" torque="${wheel_torque}" velocity="${wheel_velocity}" separation="${wheel_separation}" />

          <!-- Casters wheels -->
          <xacro:caster side="front_right" radius="${caster_radius}" width="${caster_width}" separation_x="${ caster_separation_x}" separation_y="${ caster_separation_y}" offset_x="${caster_offset_x}" offset_y="${caster_offset_y}" offset_z="${caster_offset_z}" />
          <xacro:caster side="front_left"  radius="${caster_radius}" width="${caster_width}" separation_x="${ caster_separation_x}" separation_y="${-caster_separation_y}" offset_x="${caster_offset_x}" offset_y="${caster_offset_y}" offset_z="${caster_offset_z}" />

          <xacro:caster side="back_right"  radius="${caster_radius}" width="${caster_width}" separation_x="${-caster_separation_x}" separation_y="${ caster_separation_y}" offset_x="${caster_offset_x}" offset_y="${caster_offset_y}" offset_z="${caster_offset_z}" />
          <xacro:caster side="back_left"   radius="${caster_radius}" width="${caster_width}" separation_x="${-caster_separation_x}" separation_y="${-caster_separation_y}" offset_x="${caster_offset_x}" offset_y="${caster_offset_y}" offset_z="${caster_offset_z}" />
      </body>
  </xacro:macro>
</mujoco>